body{
    margin: 0 !important;
    padding: 0 !important;
}
.red{
    border: 1px solid red;

}
.green{
    border: 1px solid green;

}
.banner{
    
    height: 500px;
    padding: 20px;
    background: url('./banner.jpg' ) center center no-repeat  ;
    background-repeat: no-repeat;
    .about-sign-in{
        height: 80px;
        width: 100%;
        text-align: right;
        .about,
   .sign-in{
    margin-top: 20px;
    padding: 8px 15px;
    text-decoration: none;
   text-transform: uppercase;
    display: inline-block;
    .sign-in{
        margin-right: 60px;
        margin-left: 25px;
        border-radius: 20px;
        border: 1px solid green;
    }
        }

    }

    .logo{
        background: url('./hapoERP.png') center center no-repeat;
        margin-top: 30px;
        height: 150px;
    }
    .text{
        text-align: center;
        margin-top: 30px;
    }
    .btn-start-now{
        text-align: center;
        button{
            text-transform: uppercase;
            padding:10px 15px ;
            border: 1px solid green;
            margin-top: 20px;
            border-radius: 20px;
            cursor: pointer;
        }
    }
 .content-center{
    .left,
.right,
.center{
    width: 33%;
    display: inline-block;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;

span{
    color: red;
}
img{
    width: 30px;
    height: 30px;
}
}

 }
    
}

.about{
    border: 1px solid red;
    border-radius: 20px;
   }  

.text span{
    color: green;

}




   

span{
    display: block;
    font-size: 25px;
}
